<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="about" style="background-color: #FAFAFA;">
  <section class="about-area about-five">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-12">
          <div class="about-image-five">
          
            <img src="assets/about.jpg" alt="about" height="690px" width="600px"/>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="about-five-content"  >
            <h4 class="small-title text-lg" style="font-size: 25px;"> OUR STORY!!</h4><br>
            <h2 class="main-title fw-bold" style="font-size: 48px;">Our team comes with the experience and knowledge</h2>
            <div class="about-five-tab">
              
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-who-tab" data-bs-toggle="tab" data-bs-target="#nav-who"
                    type="button" role="tab" aria-controls="nav-who" aria-selected="true">Who We Are??</button>
                  <button class="nav-link" id="nav-vision-tab" data-bs-toggle="tab" data-bs-target="#nav-vision"
                    type="button" role="tab" aria-controls="nav-vision" aria-selected="false">Our Vision!!</button>
                  <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history"
                    type="button" role="tab" aria-controls="nav-history" aria-selected="false">Our History!!</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, look like readable English.</p>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                    form,
                    by injected humour.</p>
                </div>
                <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, look like readable English.</p>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                    form,
                    by injected humour.</p>
                </div>
                <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, look like readable English.</p>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                    form,
                    by injected humour.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </section>
    
     <!-- <div class="bg-image" >
        <h1>About</h1>
        <br>
        <ul>
         <li><img src="assets/bank1.jpeg" class="img" alt="bank"> </li>
         <h2 style="text-align:center;">Head Quarters,USA</h2>
        </ul>
       
        <br>
        <p>Bank of India (BOI) is an Indian multinational public sector bank and financial services statutory body headquartered in Mumbai, Maharashtra. SBI is the 43rd largest bank in the world and ranked 221st in the Fortune Global 500 list of the world's biggest corporations of 2020, being the only Indian bank on the list.[6] It is a public sector bank and the largest bank in India with a 23% market share by assets and a 25% share of the total loan and deposits market.[7] It is also the fifth largest employer in India with nearly 250,000 employees.[8][9][10]
            <p>The bank descends from the Bank of Calcutta, founded in 1806 via the Imperial Bank of India, making it the oldest 
                commercial bank in the Indian Subcontinent. The Bank of Madras merged into the other two presidency banks in British India, the Bank of Calcutta and the Bank of Bombay, to form the Imperial Bank of India, which in turn became the State Bank of India in 1955.[11] Overall the bank has been formed from the merger and acquisition of nearly twenty banks over the course of its 200 year history.[12][13]. The Government of India took control of the
             Imperial Bank of India in 1955, with Reserve Bank of India (India's central bank) taking a 60% stake, renaming it State Bank of India. </p>
        <div>
            <h1>Gallery</h1><br><br>
            <img src="assets/bank2.jpeg" alt="bank" hspace="30">
            <img src="assets/bankoffc.jpeg" alt="bank" hspace="30">
            <img src="assets/20.jpeg" alt="bank" hspace="30">
            <img src="assets/21.jpeg" alt="bank" hspace="30">
            <img src="assets/22.jpeg" alt="bank" hspace="10">
               
        </div>  -->
    

        <!-- footer -->
        <!-- Remove the container if you want to extend the Footer to full width. -->
<!-- <div class="container my-5"> -->
    <!-- Footer -->
    <br>
    <br>
    <br>
    <section id="call-action" class="call-action">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
            <div class="inner-content">
              <h2 style="font-size: 50px;">We love to make perfect <br />solutions for your business</h2>
              <p class="big" style="font-size: 20px inter;">
                Why I say old chap that is, spiffing off his nut cor blimey
                guvnords geeza<br />
                bloke knees up bobby, sloshed arse William cack Richard. Bloke
                fanny around chesed of bum bag old lost the pilot say there
                spiffing off his nut.
              </p>
              <div class="light-rounded-buttons">
                <!-- <a href="javascript:void(0)" class="btn primary-btn-outline">Get Started</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
    <br><br>
    <app-footer></app-footer>
    
</body>
</html>