/* body{
    margin:0;
    padding: 0;
    overflow: hidden;
}
.Login{
    text-align: center;
    position:absolute;
    top: 20%;
    left: 0%;
    width: 500px;
    height: 300px;
    background-color: paleturquoise;
    border-radius: 10px;
    padding-top: 100px;
}
.Login h2{
    text-align: center;
    border-bottom: 3px solid aliceblue;
}
.Login form{
    padding: 0 40px;
    box-sizing: border-box;
}
form #ip{
    position: relative;
    border-bottom: 2px solid aliceblue;
    margin: 10px 0;
}
.reg{
    padding: 0 20px;
} */
/* .text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4{
    background-image:url(" assets/signup-bg.jpg");
    background-size:cover;
} */

